{% extends 'base.html' %}
{% load static %}

{# 页面标题 #}
{% block title %}
    JonnyZhao的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://code.hcharts.cn/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}

{% block 'nav_home_active' %}active{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="home-all">
        <h3 class="home-content">JonnyZhao的博客</h3>
        <!-- 图表容器 DOM -->
        <div id="container"></div>
        <!-- 图标配置 -->
        <script>
            // 图表配置
            var options = {
                chart: {type: 'line'},
                title: {text: null},
                xAxis: {
                    categories: {{ dates|safe }},
                    tickmarkPlacement:'on',
                    title:{ text:"阅读量-7日" },
                },
                yAxis: {
                    title: {text: null},
                    labels:{enabled:false},
                    gridLineDashStyle:'Dash',
                },
                series: [{                              
                    name: '阅读量',                      
                    data: {{ read_nums }},                   
                }],
                plotOptions:{line: { dataLabels: {enabled: true}}},
                legend:{enabled:false},
                credits:{enabled:false},
            };
            // 图表初始化函数
            var chart = Highcharts.chart('container', options);
        </script>  
        <!-- 热门博客 -->
        <div class="hot-data-all">
            <div class="hot-data">
                <!-- 今天24小时内的热门博客 -->
                <h3>今日热门博客</h3>
                <ul>
                    {% for hot_data in today_hot_data %}  
                        <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>
                    {% empty %}
                        <li>今日暂无热门博客</li>
                    {% endfor %}     
                </ul>
            </div>
            <div class="hot-data">
                <!-- 昨天的热门博客 -->
                <h3>昨日热门博客</h3>
                <ul>
                    {% for hot_data in yesterday_hot_data %}  
                        <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>
                    {% empty %}
                        <li>昨日暂无热门博客</li>
                    {% endfor %}
                </ul>   
            </div>
            <div class="hot-data">
                <!-- 前一周的热门博客 -->
                <h3>一周热门博客</h3>
                <ul>
                    {% for hot_blog in week_hot_blogs %}  
                        <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>
                    {% empty %}
                        <li>7日内暂无热门博客</li>
                    {% endfor %}
                </ul> 
            </div> 
        </div>
    </div>
{% endblock %}